<!DOCTYPE html>
<html5 lang = en>
    <head>
        <title> Twec App </title>
        <meta charset="utf8">
        <meta name = "author" context = "Marco Natali">
    </head>
    <body>
        <form enctype = "multipart/form-data" action = "{% url 'index' %}" method = "post">
            {% csrf_token %}
            {{ config_form }}
            <br>
            {{ docu_form }}
            <br>
            <input type = "submit">
            <button type = "submit" formaction = "{% url 'add_document' %}"> Add new Document </button>
            <button type = "submit" formaction = "{% url 'remove_document' %}"> Delete Document </button>
            <input type = "reset">
        </form>
    </body>
</html5>

